<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>ChatterJS</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/superhero/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body ng-app="chatter">
        <div class="container" ng-controller="ChatterCtrl">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <h1 class="">ChatterJS</h1>
                    <hr>
                    <form class="form css-form" role="form" novalidate name="messageForm">
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <input type="text" name="alias" class="form-control" placeholder="Alias" ng-model="message.alias" focus required />
                            </div>
                            <div class="col-xs-8">
                            </div>
                        </div>
                        <div class="input-group" ng-class="{'has-error': messageForm.body.$invalid}">
                            <input type="text" class="form-control" placeholder="Message" ng-model="message.body" required />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" ng-click="sendMessage()" ng-disabled="messageForm.alias.$invalid">Send</button>
                            </span>
                        </div>
                    </form>
                    <hr>
                    <div class="chat-messages">
                        <dl ng-repeat="msg in messages">
                            <dt>{{ msg.name }} <span class="small text-muted">[{{ msg.datetime }}]</span></dt>
                            <dd>{{ msg.body }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>