<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>ChatterJS</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/superhero/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body ng-app="chatter">
        <div class="container" ng-controller="ChatterCtrl">
            <div class="row" file-dropzone="[image/png, image/jpeg, image/gif]"
        file="image" file-name="imageFileName" data-max-file-size="3">
                <div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <h1>ChatterJS <span class="text-muted glyphicon glyphicon-comment"></span></h1>
                    <hr>
                    <form class="form css-form" role="form" novalidate name="messageForm">
                        <div class="row">
                            <div class="form-group col-md-3 col-sm-4 col-xs-7">
                                <input type="text" name="alias" class="form-control" placeholder="Enter a name" ng-model="message.alias" focus required />
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-5">
                                <div class="pull-right" ng-class="{'text-danger':userCount==1,'text-success':userCount==2,'text-warning':userCount>2}"><strong>{{userCount}}</strong> <i class="glyphicon glyphicon-comment"></i></div>
                            </div>
                        </div>
                        <div class="input-group" ng-class="{'has-error': messageForm.body.$invalid}">
                            <input type="text" name="body" class="form-control text-small" placeholder="Enter your message" ng-model="message.body" required />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" ng-click="sendMessage()" ng-disabled="messageForm.alias.$invalid||messageForm.body.$invalid">Send</button>
                            </span>
                        </div>
                    </form>
                    <hr>
                    <div class="chat-messages container">
                        <form action="">
                            <dl ng-repeat="msg in messages">
                                <dt ng-class="{'text-primary':msg.isSender}">{{ msg.alias }} <span class="small text-muted">[{{ msg.datetime }}]</span></dt>
                                <dd ng-bind-html="msg.body"></dd>
                            </dl>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>