html{
    height: 100%;
    body {

        min-height: 100%;
        .css-form {
            .glyphicon-cloud-upload {
                font-size: 2em;
                -webkit-animation: spin .5s linear infinite;
                -moz-animation: spin .5s linear infinite;
                animation: spin .5s linear infinite;
            }
        }
        .chat-messages {
            dd {
                margin-bottom: 15px;
                img {
                    max-width: 100%;
                    margin-top: 10px;
                }
            }
        }
        .file-upload-overlay {
            opacity: 0;
            background: black;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            position: fixed;
            &.show-file-upload-overlay {
                width: 100%;
                height: 100%;
                opacity: .7;
                -webkit-transition: opacity .15s ease-in;
                   -moz-transition: opacity .15s ease-in;
                    -ms-transition: opacity .15s ease-in;
                     -o-transition: opacity .15s ease-in;
                        transition: opacity .15s ease-in;
            }
            .file-upload-message-container {
                pointer-events: none;
                display: table;
                margin: 100px auto 0;
                .glyphicon-cloud-upload {
                    font-size: 24em;
                }
            }
        }
    }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(12deg); }
    50% { -moz-transform: rotate(-12deg); }
    100% { -moz-transform: rotate(12deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(12deg); }
    50% { -webkit-transform: rotate(-12deg); }
    100% { -webkit-transform: rotate(12deg); }
}
@keyframes spin {
    0% { -webkit-transform: rotate(12deg); transform:rotate(12deg); }
    50% { -webkit-transform: rotate(-12deg); transform:rotate(-12deg); }
    100% { -webkit-transform: rotate(12deg); transform:rotate(12deg); }
}